CONFIG_CNN_FP16=y
CONFIG_MODEL_DSP_FLOAT16_TYPE_BFLOAT16=n
CONFIG_MODEL_FLOAT16_TYPE_IEEE16=y

CONFIG_MODEL_L1_MEMORY=120000
CONFIG_MODEL_L2_MEMORY=1000000

CONFIG_MODEL_LOGLEVEL=1
CONFIG_ENABLE_NNTOOL=y

CONFIG_BOARD_GAP9MOD_V1_0_B=y
CONFIG_BOARD_GAP9EVK_V1_3=y

CONFIG_LIB_GAP_LIB=y
CONFIG_LIB_GAP_LIB_WAV_IO=y
CONFIG_DRIVER_READFS=y
CONFIG_DRIVER_HOSTFS=y
CONFIG_DRIVER_TYPE_FLASH=y
CONFIG_DRIVER_TYPE_RAM=y
CONFIG_DRIVER_TYPE_MRAM=y

CONFIG_DRIVER_I2C=y
CONFIG_DRIVER_I2S=y
CONFIG_DRIVER_GPIO=y
